<ion-view view-title="Tony Chat">
  <ion-content>
      <body ng-app="starter">

          <ng-view></ng-view>
          <!--<input type="text"
               id="messageSend"
               name="messageSend"
               placeholder="enter message....."
               ng-model="vm.messageSend"
               min="1"
               max="50" />

        <button ng-click="vm.sendMessage('Hello world')">Send message</button>
        <button ng-click="vm.subscribe()">subscribe</button>
        <button ng-click="vm.unsubscribe()">unsubscribe</button>

        <select ng-options="i.action for i in vm.team" ng-change="vm.selectedChannel()" ng-model="vm.selectedAction"></select>

        <textarea rows="7" cols="70" ng-model="vm.messageFromPubNub" style="border:solid 1px orange;">
        </textarea>-->
      </body>
  </ion-content>
</ion-view>
